extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Body:
      br
      textarea(name='body' id="editor")
    br
    input.btn.btn-primary(type='submit',value='Submit')
