extends layout

block content
  
  div(class='row')
    div(class='col-md-4')
      div(id='a')
        script(src='sketches/5dd134ab44a40f47ab80fd1f.js')
      div
        a.btn.btn-dark(href='/articles/edit/5dd134ab44a40f47ab80fd1f') Edit
    div(class='col-md-4' )
      div(id = 'b')
        script(src='sketches/5dd13b2b44a40f47ab80fd28.js')
      div
        a.btn.btn-dark(href='/articles/edit/5dd13b2b44a40f47ab80fd28') Edit

    div(class='col-md-4' )
      div(id = 'c')
        script(src='sketches/5dd1387044a40f47ab80fd21.js')
      div
        a.btn.btn-dark(href='/articles/edit/5dd1387044a40f47ab80fd21') Edit


  div(class='row')
    div(class='col-md-4')
      div(id='d')
        script(src='sketches/5dd1387e44a40f47ab80fd22.js')
      div
        a.btn.btn-dark(href='/articles/edit/5dd1387e44a40f47ab80fd22') Edit
    div(class='col-md-4' )
      div(id = 'e')
        script(src='sketches/5dd1388f44a40f47ab80fd23.js')
      div
        a.btn.btn-dark(href='/articles/edit/5dd1388f44a40f47ab80fd23') Edit

    div(class='col-md-4' )
      div(id = 'f')
        script(src='sketches/5dd1389e44a40f47ab80fd24.js')
      div
        a.btn.btn-dark(href='/articles/edit/5dd1389e44a40f47ab80fd24') Edit

  div(class='row')
    div(class='col-md-4')
      div(id='g')
        script(src='sketches/5dd138b344a40f47ab80fd25.js')
      div
        a.btn.btn-dark(href='/articles/edit/5dd138b344a40f47ab80fd25') Edit
    div(class='col-md-4' )
      div(id = 'h')
        script(src='sketches/5dd138be44a40f47ab80fd26.js')
      div
        a.btn.btn-dark(href='/articles/edit/5dd138be44a40f47ab80fd26') Edit

    div(class='col-md-4' )
      div(id = 'i')
        script(src='sketches/5dd138ca44a40f47ab80fd27.js')
      div
        a.btn.btn-dark(href='/articles/edit/5dd138ca44a40f47ab80fd27') Edit


