doctype html
html
  head
    title T.O.T.O
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js")
    link(rel="stylesheet" href="/codemirror/lib/codemirror.css")



  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') T.O.T.O
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      
      .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/articles/add') Add Sketch
        ul.navbar-nav.float-right
          if user
              li 
                a.nav-link(href='/users/logout') Logout
          else
            li
              a.nav-link(href='/users/register') Register
            li
              a.nav-link(href='/users/login') Login      
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
       // p Copyright &copy; 2017
    script(src='/js/jquery-3.4.1.min.js') 
    script(src="/codemirror/lib/codemirror.js")
    script(src="/codemirror/mode/javascript/javascript.js")
    script(src="/js/defualt.js") 
    script(src="/codemirror/mode/javascript/javascript.js")
    script(src='/bootstrap/js/bootstrap.js')
    //script(src='/js/main.js')  
